*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

 global
.gitignore
*.log
logs

# maven
target

# eclipse
.classpath
.metadata
.project
.settings

# netbeans
nb-configuration.xml
nbactions.xml

# green maven
.gmvn

# intellij
.idea
*.iml

# backup
*~
*.bak
*.orig
